<h2>Update a Person</h2>

<form action="/persons/update" method="POST">
    <div>
        <label for="PersonId">person_id</label>
        <input type="text" name="PersonId" id="PersonId">
    </div>
    <div>
        <label for="FirstName">first_name</label>
        <input type="text" name="FirstName" id="FirstName">
    </div>
    <div>
        <label for="LastName">last_name</label>
        <input type="text" name="LastName" id="LastName">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>